<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Monitoring Dashboard</title>
    <style>
        h1{
            color: #333;
        }
        body{
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 40px;
        }
        .card{
            width: 300px;
            margin: 20px auto;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

    </style>
</head>
<body>
    <h1>System Helath Dashboard</h1>
    <div class = "card">
        <p><strong>CPU Usage:</strong> <span id="cpu">Loading...</span>%</p>
        <p><strong>Memory Usage:</strong> <span id="memory">Loading...</span></p>
        <p><strong>Disk Usage:</strong> <span id="disk">Loading...</span></p>
        <p><strong>Uptime:</strong> <span id="uptime">Loading...</span></p>
    </div>
    <script>
        function updatestats() {
            fetch('/api/stats')
                .then(res=>res.json())
                .then(data=>{
                    document.getElementById('cpu').textContent = data.cpu; 
                    document.getElementById('memory').textContent = data.memory;
                    document.getElementById('disk').textContent = data.disk;
                    document.getElementById('uptime').textContent = data.uptime;
                });

        }
        updatestats();
        setInterval(updatestats, 5000); // Update every 5 seconds
    </script>
</body>
</html>